ul.circle-indicators li{
	width: 10px;
	height: 10px;
	background-color: #fff;
}

ul.circle-indicators .active{
	background-color: var(--main-color);
}

header #sc_carousel .sc-carousel-item{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header #sc_carousel .sc-carousel-item:nth-of-type(1){
	background-image: url('../images/slider-1.jpg');
}

header #sc_carousel .sc-carousel-item:nth-of-type(2){
	background-image: url('../images/slider-2.jpg');
}

header #sc_carousel .sc-carousel-item:nth-of-type(3){
	background-image: url('../images/slider-3.jpg');
}

header #sc_carousel .sc-carousel-item h2{
	font-size: 80px;
}

header #sc_carousel .sc-carousel-item h2,
header #sc_carousel .sc-carousel-item p{
	color: #fff;
}

header #sc_carousel .sc-carousel-item p{
	font-size: 20px;
}

button.button.btn a,
header #sc_carousel .sc-carousel-item button i{
	color: var(--main-color);
}

button.button.btn a{
	letter-spacing: 1.5px;
}

button.btn{
	border: 2px solid var(--main-color);
    padding: 15px 40px;
    font-size: 14px;
}

button.btn:hover{
	border: 2px solid var(--main-color);
}

button.button.btn span{
	}

button.button.btn span a{
	color: var(--main-color);
	transition-duration: 1s;
	position: relative;
	z-index: 2;
}

button.button.btn:hover span a{
	color: #000;
}

header #sc_carousel .sc-carousel-item button.btn{
	position: relative;
	overflow: hidden;
}

button.btn-check:checked+.btn, button.btn.active, button.btn.show, button.btn:first-child:active, :not(.btn-check)+button.btn:active{
	border: 2px solid var(--main-color);
}

button.button.btn::before{
	top: 100%;
}

button.button.btn:hover::before{
	top: 0%;
}

button.button.btn::before,
button.button.btn::after{
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background-color: var(--main-color);
	left: 0;
	transition-duration: 1s;
}

button.button.btn::after{
	bottom: 100%;
}

button.button.btn:hover::after{
	bottom: 0%;
}