@media (max-width: 1300px) {
	.collapse:not(.show){
		display: flex;
	}

	.title h6{
		font-size: 15px;
	}

	.square{
		padding: 3px;
	}

	header #sc_carousel .sc-carousel-item h2{
		font-size: 30px;
	}

	header #sc_carousel .sc-carousel-item p {
		font-size: 12px;
	}

	header button.prev, header button.next{
		display: none;
	}

	header .BookTable{
		bottom: 45px;
    	left: 30px;
	}

	header .square-rotate{
		width: 80px;
		height: 80px;
	}

	header .book-table-button{
		padding-inline: 0;
		width: 80px;
    	height: 80px;
	}

	header .book-table-button img {
	    width: 33px;
	}

	header .book-table-button p{
		font-size: 10px;
	}

	#AboutUs .title h6 {
        font-size: 15px;
    }

	#AboutUs h2 {
	    font-size: 28px;
	}

	#AboutUs p{
		font-size: 15px;
    	padding-inline: 40px;
    	margin-bottom: 40px;
	}

	#AboutUs .part{
		margin-bottom: 38px;
	}

	#AboutUs .part .product::before{
		width: 48%;
	}

	a.button.btn{
		padding: 10px 20px;
    	font-size: 13px;
	}

	ul.circle-indicators {
	    bottom: 15px;
	    right: 30px;
	}

	#SpecialDish .title h6 {
        font-size: 17px;
    }

    #SpecialDish .part11 .item{
    	padding-left: 48px;
    }

    #SpecialDish .part11{
    	padding-bottom: 40px;
    }

    #SpecialDish .row.inside{
    	padding-left: 1.5rem;
    }

    #SpecialDish .row.inside .part1 .item{
    	top: 7%;
    }

	#SpecialDish h2 {
	    font-size: 30px;
	}

	#SpecialDish p {
	    font-size: 14px;
	    padding-right: 52px;
	    width: initial;
	}

	#SpecialDish h5:last-child {
	    font-size: 25px;
	}

	#Menu ul{
		width: max-content;
	}

	#OurChefs{
		padding-block: 55px 65px;
	}

	#OurChefs .title h6 {
        font-size: 17px;
    }

    #OurChefs h2{
    	font-size: 30px;
    }

    #OurChefs .row .item{
    	width: 300px;
    	margin: auto;
    	margin-bottom: 35px;
    }

    #OurChefs h4 {
	    font-size: 24px;
	}

	#OurChefs p.name{
		font-size: 11px;
	}

	#ContactUs .content form{
		width: 300px;
	}

	#ContactUs .content form p {
	    font-size: 14px;
	}

	button.button.btn{
		font-size: 12px;
		padding: 12px 40px;
	}

	#ContactUs button.button.btn {
	    font-size: 14px;
	    padding: 10px 40px;
	}

	#ContactUs .content footer p{
		font-size: 13px;
	}
}

@media (min-width: 371px) and (max-width: 1300px) {
	.title h6 {
        font-size: 16px;
    }

    header #sc_carousel .sc-carousel-item h2 {
        font-size: 40px;
    }

    header #sc_carousel .sc-carousel-item p {
        font-size: 13px;
    }

    ul.circle-indicators {
        bottom: 5px;
        right: 20px;
    }

    header .BookTable {
        bottom: 30px;
    }

    #SpecialDish h2 {
        font-size: 35px;
    }

    #SpecialDish .row.inside .part1 .item {
    	left: 8%;
	}

    #SpecialDish p {
        padding-right: 60px;
        line-height: 30px;
    }

    #OurChefs h2 {
        font-size: 35px;
    }

     #OurChefs h4 {
	    font-size: 25px;
	}

	#OurChefs p.name{
		font-size: 11px;
	}
}

@media (min-width: 577px) and (max-width: 1300px) {
	.title h6 {
        font-size: 17px;
    }

    header #sc_carousel .sc-carousel-item h2 {
        font-size: 50px;
    }

    header #sc_carousel .sc-carousel-item p {
        font-size: 14px;
    }

    #SpecialDish .part11 {
        padding-left: 0;
    }

    #SpecialDish .part11 .item {
        width: 400px;
        margin: auto;
        padding-left: initial;
    }

    #SpecialDish .row.inside .part1 .item {
        left: 14%;
    }

    #SpecialDish h2 {
        font-size: 40px;
    }

    #SpecialDish p {
        padding-right: initial;
        width: initial;
    }

    #Menu ul{
		width: 100%;
	}

	#OurChefs .row .item {
        width: initial;
    }

    #OurChefs .row .part:last-child .item {
        width: 280px;
    }

	#OurChefs h2 {
        font-size: 40px;
    }

	#OurChefs h4 {
        font-size: 27px;
    }

	#ContactUs .content form {
        width: 400px;
    }

    #ContactUs .content footer p {
        font-size: 16px;
    }
}

@media (min-width: 769px) and (max-width: 1300px) {
	header #sc_carousel .sc-carousel-item h2 {
        font-size: 70px;
    }

    header .book-table-button img {
        width: 30px;
    }

	ul.circle-indicators {
        bottom: 0px;
    }

    header .BookTable {
        bottom: 25px;
    }

    #SpecialDish .row.inside {
        padding-left: 65px;
    }

    #SpecialDish .row.inside .part1 .item {
        left: 6%;
        top: 18%;
    }

    #SpecialDish a.button.btn {
        font-size: 14px;
    }

    #SpecialDish h2 {
        font-size: 30px;
    }

    #SpecialDish p {
        width: 75%;
    }

    #OurChefs {
        padding-bottom:60px;
    }

    #OurChefs .row .part:last-child .item {
        width: initial;
    }

    #OurChefs h4 {
        font-size: 20px;
    }

    #OurChefs p.name {
        font-size: 10px;
    }

    #OurChefs p.lorem {
	    font-size: 12px;
	}

    #ContactUs .content form {
        width: 500px;
    }
}

@media (min-width: 992px) and (max-width: 1300px) {
	nav .collapse {
	    justify-content: space-between;
	}

	nav.navbar .navbar-nav li {
	    display: none;
	}

	#SpecialDish .row.inside {
        padding-left: 50px;
    }

    #SpecialDish .part11 {
        padding-bottom: 80px;
    }

    #SpecialDish .row.inside .part1 .item {
        left: 2%;
        top: 16%;
    }

    #SpecialDish h5:last-child {
        font-size: 27px;
    }

	#SpecialDish p {
        width: 88%;
    }

    #SpecialDish .part21{
    	padding: 48px;
    }

	#OurChefs h2 {
        font-size: 50px;
    }

    #OurChefs h4 {
        font-size: 29px;
    }

    #OurChefs p.name {
        font-size: 11px;
    }

    #OurChefs p.lorem {
        font-size: 14px;
    }
}

@media (min-width: 1181px) and (max-width: 1300px) {
	nav img {
	    width: 160px;
	}

	#SpecialDish .part11 .item {
    	margin: initial;
        margin-left: auto;
    }

    #SpecialDish .row.inside .part1 .item {
        left: 12%;
    }

	#OurChefs .row .part .item {
        width: 350px;
    }

    #OurChefs .row .part:last-child .item {
        width: 350px;
    }
}