@media (max-width: 1300px) {
	.collapse:not(.show){
		display: flex;
	}

	.title h6{
		font-size: 15px;
	}

	header #sc_carousel .sc-carousel-item h2{
		font-size: 30px;
	}

	header #sc_carousel .sc-carousel-item p {
		font-size: 12px;
	}

	header button.prev, header button.next{
		display: none;
	}

	#AboutUs .title h6 {
        font-size: 17px;
    }

	#AboutUs h2 {
	    font-size: 30px;
	}

	a.button.btn{
		padding: 10px 20px;
    	font-size: 13px;
	}

	ul.circle-indicators {
	    bottom: 15px;
	    right: 30px;
	}

	header .BookTable{
		bottom: 45px;
    	left: 30px;
	}

	header .square-rotate{
		width: 80px;
		height: 80px;
	}

	header .book-table-button{
		padding-inline: 0;
		width: 80px;
    	height: 80px;
	}

	header .book-table-button img {
	    width: 33px;
	}

	header .book-table-button p{
		font-size: 10px;
	}

	#OurChefs .title h6 {
        font-size: 17px;
    }

    #OurChefs h2{
    	font-size: 30px;
    }

    #OurChefs .row .item{
    	width: 280px;
    	margin: auto;
    	margin-bottom: 35px;
    }

    #OurChefs h4 {
	    font-size: 25px;
	}

	#OurChefs p.name{
		font-size: 12px;
	}

	#ContactUs .content form{
		width: 300px;
	}

	#ContactUs .content form p {
	    font-size: 14px;
	}

	button.button.btn{
		font-size: 12px;
		padding: 12px 40px;
	}

	#ContactUs .content footer p{
		font-size: 13px;
	}
}

@media (min-width: 371px) and (max-width: 1300px) {
	.title h6 {
        font-size: 16px;
    }

    header #sc_carousel .sc-carousel-item h2 {
        font-size: 40px;
    }

    header #sc_carousel .sc-carousel-item p {
        font-size: 13px;
    }

    ul.circle-indicators {
        bottom: 5px;
        right: 20px;
    }

    header .BookTable {
        bottom: 30px;
    }
}

@media (min-width: 577px) and (max-width: 1300px) {
	.title h6 {
        font-size: 17px;
    }

    header #sc_carousel .sc-carousel-item h2 {
        font-size: 50px;
    }

    header #sc_carousel .sc-carousel-item p {
        font-size: 14px;
    }
}

@media (min-width: 769px) and (max-width: 1300px) {
	header #sc_carousel .sc-carousel-item h2 {
        font-size: 70px;
    }

    header .book-table-button img {
        width: 30px;
    }

	ul.circle-indicators {
        bottom: 0px;
    }

    header .BookTable {
        bottom: 25px;
    }
}

@media (min-width: 992px) and (max-width: 1300px) {
	nav .collapse {
	    justify-content: end;
	}

	nav.navbar .navbar-nav li {
	    display: none;
	}
}

@media (min-width: 1181px) and (max-width: 1300px) {
	nav img {
	    width: 160px;
	}
}