header{
	position: relative;
}

ul.circle-indicators{
	position: absolute;
	bottom: 5px;
	right: 20px;
	z-index: 2;
}

ul.circle-indicators li{
	width: 10px;
	height: 10px;
	background-color: #fff;
}

ul.circle-indicators .active{
	background-color: var(--main-color);
}

header #sc_carousel{
	position: relative;
	height: 100vh;
}

header #sc_carousel .sc-carousel-item{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

header #sc_carousel .sc-carousel-item.active{
	z-index: 2;
}

header #sc_carousel .sc-carousel-item:nth-of-type(1){
	background-image: url('../images/slider-1.jpg');
}

header #sc_carousel .sc-carousel-item:nth-of-type(2){
	background-image: url('../images/slider-2.jpg');
}

header #sc_carousel .sc-carousel-item:nth-of-type(3){
	background-image: url('../images/slider-3.jpg');
}

header #sc_carousel .sc-carousel-item h2{
	font-size: 80px;
}

header #sc_carousel .sc-carousel-item h2,
header #sc_carousel .sc-carousel-item p{
	color: #fff;
}

header #sc_carousel .sc-carousel-item p{
	font-size: 20px;
}

button.button.btn a,
header #sc_carousel .sc-carousel-item button i{
	color: var(--main-color);
}

button.button.btn a{
	letter-spacing: 1.5px;
}

button.btn{
	border: 2px solid var(--main-color);
    padding: 15px 40px;
    font-size: 14px;
}

button.btn:hover{
	border: 2px solid var(--main-color);
}

button.button.btn span{
	}

button.button.btn span a{
	color: var(--main-color);
	transition-duration: 1s;
	position: relative;
	z-index: 2;
}

button.button.btn:hover span a{
	color: #000;
}

header #sc_carousel .sc-carousel-item button.btn{
	position: relative;
	overflow: hidden;
}

button.btn-check:checked+.btn, button.btn.active, button.btn.show, button.btn:first-child:active, :not(.btn-check)+button.btn:active{
	border: 2px solid var(--main-color);
}

button.button.btn::before{
	top: 100%;
}

button.button.btn:hover::before{
	top: 0%;
}

button.button.btn::before,
button.button.btn::after{
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background-color: var(--main-color);
	left: 0;
	transition-duration: 1s;
}

button.button.btn::after{
	bottom: 100%;
}

button.button.btn:hover::after{
	bottom: 0%;
}

header button.prev{
	left: 30px;
}

header button.prev,
header button.next{
	transform: rotate(45deg);
	border-radius: 0;
	padding: 8px 11px;
	position: absolute;
	background-color: transparent;
	border: 1px solid var(--main-color);
	top: 50%;
	z-index: 2;
	transition-duration: 0.5s;
}

header button.prev:hover,
header button.next:hover{
	background-color: var(--main-color);
}

header button.next{
	right: 30px;
}

header button.prev i,
header button.next i{
	transform: rotate(-45deg);
	color: var(--main-color);
	transition-duration: 0.5s;
}

header button.prev:hover i,
header button.next:hover i{
	color: #000;
}

header .BookTable{
	position: absolute;
	bottom: 40px;
	left: 40px;
	z-index: 2;
	text-align: center;
}

header .square-rotate{
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	border: 1px solid var(--main-color);
	background-color: rgba(0, 0, 0, 0.5);
	animation-name: wheel;
	animation-timing-function: linear;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

header .book-table-button{
	background-color: var(--main-color);
	padding-inline: 28px;
	position: relative;
}

header .book-table-button img{
	width: 40px;
}

header .book-table-button p{
	margin-block: 8px 10px;
	font-size: 12px;
}
/*i think button in prev next is by rotating the div that contain icon*/